
<!-- <div style="width: 100%; height: 100%; position: relative;"> -->

<!-- </div> -->
<ion-content>
  
  <video [muted]="'muted'" autoplay loop="true" id="myVideo" style="width: 100%">
    <source src="/assets/1.mp4" type="video/mp4">
  </video>
  <ion-grid>
    <img style="width: 300px; margin-top: 30px; margin-left: 20px;" src="/assets/logo.png">
    <ion-row>
      <ion-col size="8">
        <!-- <div appParallax [ratio]="-0.2" class="ion-padding">
          <img style="width: 100%" src="/assets/buildings.jpg">
        </div> -->
      </ion-col>
      <ion-col size="4">
        <ion-list>
          <ion-item button>
            <ion-icon slot="start" name="logo-instagram"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
