<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Wet Pet
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Wet Pet</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <img style="width: 250px; margin-top: 30px;" src="/assets/logo.png">
  <!-- <video src="/assets/intro.mp4"></video>  -->
  <div class="ion-padding">
    <img style="width: 100%" src="/assets/clouds.png">
  </div>
  <ion-card>
    <ion-item button detail>
      <ion-icon name="logo-instagram" slot="start"></ion-icon>
      <ion-label>
        View Wet Pet on Instagram
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
