
ion-content {
  --background: url('/assets/buildings.jpeg');
  background-size: contain;
  background-position: center;
  --color: #000;
  font-family: 'Reenie Beanie';
}

#blog {
  ion-card {
    --background: rgba(255,255,255, 0.5);
    border: 1px solid black;
    
    .list-ios {
      background: transparent;

      ion-item {
        --background: rgba(255,255,255, 0.5);
      }

    }
  }
}

#shows {
  h1 {
    font-size: 70px;
    margin-bottom: -20px;
  }

  ion-card {
    --background: rgba(255,255,255, 0.5);
    border: 1px solid black;
    
    .list-ios {
      background: transparent;

      ion-item {
        --background: rgba(255,255,255, 0.5);
      }

    }
  }

}

#bio {
  h1 {
    font-size: 70px;
    margin-bottom: -20px;
  }
  // background: rgba(255,255,255, 0.3) !important;
  font-size: 38px;
  
}

.photos {
  ion-img {
    border: #fff solid 10px;
    margin-bottom: 10px;
  }
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#myVideo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}